h1#esteco_ubies_navbar {
    text-align: center;
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    cursor: default;
    margin-bottom: 0;
}

img#logo_navbar {
    max-height: 50px;
    margin: 8px 16px 8px 8px;
}
