<div id="update_metadata">
    <app-metadata-form
            (submitEvent)="updateChanges($event)"
            [buttonSubmitString]="buttonSubmitString"
            [name_registration]="metadata.name_registration"
            [type_registration]="metadata.type_registration"
            [width_court]="metadata.width_court"
            [length_court]="metadata.length_court"
            [teams]="metadata.teams"
            [registration_id]="metadata.registration_id">
    </app-metadata-form>
</div>