<div id="replay-match-container">
    <div id="frontspace_replay">
        <button type="button" class="btn btn-primary" id="backToRegistrationsListBtn"
                (click)="back_to_home()">
            <i class="bi bi-house-door-fill"></i>Elenco registrazioni
        </button>
        <div id="div_space_between_btnback_metadataname"> > </div>
        <div id="div_metadata_name"> {{metadata.name_registration}}</div>
    </div>
    <div id="replay-container">
        <div id="canvas-container">
            <canvas id="basketball-court"></canvas>
            <ngx-slider [(value)]="time_in_seconds"
                        [options]="optionsSlider"
                        (userChangeStart)="changeSliderStart()"
                        (userChangeEnd)="changeSliderEnd($event)"
                        id="time_slider"
                        [ngStyle]="{'width': canvasWidth+'px'}">
            </ngx-slider>
            <div id="buttons_replay">
                <button *ngIf="!playing && stopped" class="btn btn-primary" type="button" (click)="playMatch()"
                        id="btn_play_match"><i
                        class="bi bi-play-fill"></i>Play
                </button>
                <button *ngIf="!playing && paused && !stopped" class="btn btn-primary" type="button" (click)="back30()"
                        id="btn_back_30s"><i
                        class="bi bi-skip-backward-fill"></i>30 sec
                </button>
                <button *ngIf="!playing && paused && !stopped" class="btn btn-primary" type="button" (click)="back10()"
                        id="btn_back_10s"><i
                        class="bi bi-skip-backward-fill"></i>10 sec
                </button>
                <button *ngIf="!playing && paused && !stopped" class="btn btn-primary" type="button"
                        (click)="resumeMatch()" id="btn_resume_match"><i
                        class="bi bi-play-fill"></i>Riprendi
                </button>
                <button *ngIf="playing && !paused && !stopped" class="btn btn-primary" type="button"
                        (click)="pauseMatch()" id="btn_pause_match"><i
                        class="bi bi-pause-fill"></i>Pausa
                </button>
                <button *ngIf="!stopped" class="btn btn-primary" type="button" (click)="stopMatch()"
                        id="btn_stop_match"><i
                        class="bi bi-stop-fill"></i>Stop
                </button>
                <button *ngIf="!playing && paused && !stopped" class="btn btn-primary" type="button"
                        (click)="forward10()" id="btn_forward_10s"><i
                        class="bi bi-skip-forward-fill"></i>10 sec
                </button>
                <button *ngIf="!playing && paused && !stopped" class="btn btn-primary" type="button"
                        (click)="forward30()"
                        id="btn_forward_30s"><i
                        class="bi bi-skip-forward-fill"></i>30 sec
                </button>
                <button  class="btn btn-primary" type="button" (click)="getInfo()"
                        id="btn_info"><i
                        class="bi bi-info-circle-fill"></i>Info
                </button>
            </div>
        </div>
        <div id="teams_and_players_list_container">
            <div id="teams_replay" *ngIf="teams != undefined && teams.length != 0">
                <ul class="list-group" id="list_teams">
                    <div class="content-wrapper">
                        <li class="list-group-item" id="list_teams_label">
                            <div class="row">
                                <div>SQUADRE</div>
                            </div>
                        </li>
                        <li class="list-group-item"
                            id="team_list_item"
                            *ngFor="let team of teams">
                            <div class="row">
                                <div class="col-sm">
                                    <img src="/assets/images/basketball-jersey-clipart.png"
                                         id="kit_basket_team"
                                         [style.background-color]="team.colour"
                                         alt="kit_color">
                                    {{ team.name }}
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
            <div id="players_replay">
                <ul class="list-group" id="list_players">
                    <div class="content-wrapper">
                        <li class="list-group-item" id="list_players_label">
                            <div class="row">
                                <div>GIOCATORI</div>
                            </div>
                        </li>
                        <li class="list-group-item"
                            id="player_list_item"
                            *ngFor="let player of players">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="bi bi-person-fill"></i>
                                    {{ player.name }}
                                </div>
                                <div class="col-sm">
                                    <i class="bi bi-cpu-fill"></i>
                                    {{ player.id_tag }}
                                </div>
                                <div class="col-sm">
                                    <img src="/assets/images/basketball-jersey-clipart.png"
                                         id="kit_basket_player"
                                         alt="kit_number"
                                         [style.background-color]="getTeamColour(player.team)">
                                    {{ player.kit_number }}
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>