div#registration_component_container {
    margin-top: 20px;
    margin-bottom:30px;
}

div#registration_container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*
div#start_registration_container {
    display:flex;
    justify-content: center;
    align-items: center;
    !*grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-auto-flow: row;*!
    flex-direction: column;
}

div#section1_body {
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
}

div#table-teams{
    !*right:50%;*!
    display:flex;
    margin: 20px 40px;
    text-align: center;
    flex-direction: row;
}

app-card-team{
    margin-left: 20px;
    margin-right: 20px;
}

div#insert_dimension_court_container{
    display:grid;

}
div#insert_length_court_container{
    grid-column:1;
    display: flex;
    flex-direction: column;
}
div#insert_width_court_container{
    grid-column:2;
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 7px;
    margin-bottom: 7px;
}

input {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 80%;
    align-self: center;
}
div#input_name_registration{
    display: flex;
    justify-content: center;
    align-items: center;
}

lable#label_input_name_registration, label#label_select_type_registration, ngx-select#select_type_registration, input#input_name_registration{
    width:60%;
    align-self: center;
}

button#btn_add_player, #btn_add_team, #btn_modify_team, #btn_save_modified_team, #btn_save_team{
    margin-top: 7px;
    margin-bottom: 7px;
    width: fit-content;
    align-self: center;
}

ngx-select{
    margin-top: 7px;
    margin-bottom: 7px;
    width: 80%;
    align-self: center;
    text-align: center;
}

div#players_container{
    width:50%;
    align-self: center;
    margin-top:40px;
}

div#team_container, form#form_name_registration, form#form_add_team, form#form_add_player, #players_container{
    display: flex;
    flex-direction: column;
}

button#btn_save_registration {
    margin: 30px;
}
*/

button#btn_stop_registration, #btn_stop_registration_first_quarter {
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    align-self:center;
}

progressbar#bar_registration_inprogress {
    width: 500px;
    align-self:center;
}

label#label_registration_bar {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
}

alert{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;
    width: 50%;
    align-self: center
}

div#modal_message_confirm_error {
    margin: 10px;
}
/*

i.bi-pencil-square{
    font-size: 25px;
    color: #52667d;
    padding:0;
}

h2, h3{
    font-size: x-large;
}

!*div.quarter{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 30px;
}*!

@media (max-width:1200px) {
    div#start_registration_container{
        display: flex;
        flex-direction: column;
    }
    div#section1_body{
        margin:20px;
        text-align: center;
    }
    ngx-select, input {
        width: 100%;
    }

    div#insert_length_court_container, #insert_width_court_container{
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width:600px) {
    div#start_registration_container{
        display: flex;
        flex-direction: column;
    }
    div#section1_body{
        margin:20px;
        text-align: center;
    }
    ngx-select, input {
        width: 100%;
    }

    lable#label_input_name_registration, label#label_select_type_registration, ngx-select#select_type_registration, input#input_name_registration{
        width:100%;
        align-self: center;
    }


    div#insert_dimension_court_container{
        display:flex;
        flex-direction: column;
    }
}
*/
