<div id="registration_component_container">
    <div id="start_registration_container" *ngIf="!startRegistration">
        <app-metadata-form
                (submitEvent)="saveAndStart($event)"
                [width_court]=2800
                [length_court]=1500
                [buttonSubmitString]="buttonSubmitString">
        </app-metadata-form>
    </div>
    <div id="registration_container" *ngIf="startRegistration">
        <alert *ngIf="startRegistration" type="success" [dismissOnTimeout]="5000">
            <strong>Informazioni salvate!</strong> La registrazione è iniziata
        </alert>
        <label id="label_registration_bar">Registrazione in corso...</label>
        <progressbar id="bar_registration_inprogress" [max]="200" [value]="200" type="danger" [striped]="true"
                     [animate]="true"></progressbar>

        <button id="btn_stop_registration" type="button" class="btn btn-danger" (click)="stopRegistration()"><i
                class="bi bi-square-fill"></i> Stop registrazione
        </button>
    </div>
</div>
