div#registration_component_container {
    margin-top: 20px;
    margin-bottom: 30px;
}

div#registration_container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button#btn_stop_registration, #btn_stop_registration_first_quarter {
    margin-top: 30px;
    margin-bottom: 30px;
    width: fit-content;
    align-self: center;
}

progressbar#bar_registration_inprogress {
    width: 500px;
    align-self: center;
}

label#label_registration_bar {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
}

alert {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    align-self: center
}

div#modal_message_confirm_error {
    margin: 10px;
}