div#metadata-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#section1_container {
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
}

form#form_metadata_registration{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

div#section2_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 40px;
    text-align: center;
    justify-content: space-evenly;
    align-self: center;
}

div#card_team_container{
    margin-left: 20px;
    margin-right: 20px;
}

app-card-team{
    margin-left: 20px;
    margin-right: 20px;
}

div#insert_dimension_court_container{
    display:grid;

}
div#insert_length_court_container{
    grid-column:1;
    display: flex;
    flex-direction: column;
}
div#insert_width_court_container{
    grid-column:2;
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 7px;
    margin-bottom: 7px;
}

input {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 80%;
    align-self: center;
}
div#input_name_registration{
    display: flex;
    justify-content: center;
    align-items: center;
}

button#btn_add_team{
    margin-top: 7px;
    margin-bottom: 7px;
    width: fit-content;
    align-self: center;
}

ngx-select{
    margin-top: 7px;
    margin-bottom: 7px;
    width: 80%;
    align-self: center;
    text-align: center;
}

button#btn_save_registration {
    margin: 30px;
}

div#modal_message_confirm_error {
    margin: 10px;
}

i.bi-pencil-square{
    font-size: 25px;
    color: #52667d;
    padding:0;
}

@media (max-width:1800px){

    /*div#card_team_container{
        width: 40%;
    }*/
}

@media (max-width:1200px) {
    div#metadata-container{
        display: flex;
        flex-direction: column;
        margin:20px;

    }
    div#section1_container{
        text-align: center;
    }
    ngx-select, input {
        width: 100%;
    }

    app-card-team{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    div#card_team_container{
        width: 90%;
        text-align:center;
    }

    div#insert_length_court_container, #insert_width_court_container{
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width:600px) {
    div#start_registration_container{
        display: flex;
        flex-direction: column;
    }
    div#section1_container{
        margin:20px;
        text-align: center;
    }
    ngx-select, input {
        width: 100%;
    }

    lable#label_input_name_registration, label#label_select_type_registration, ngx-select#select_type_registration, input#input_name_registration{
        width:100%;
        align-self: center;
    }

    div#insert_dimension_court_container{
        display:flex;
        flex-direction: column;
    }
}