div#metadata-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#section1_container {
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
}

form#form_metadata_registration {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div#section2_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 40px;
    text-align: center;
    justify-content: space-evenly;
    align-self: center;
}

div#teams_container{
    display:flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-right: 20px;
}

div#players_container{
    display:flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-left: 20px;
}

label#label_inputs_dimensions{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

div#insert_dimension_court_container {
    display: grid;
    margin-top: 10px;
    margin-bottom: 20px;
}

div#court_img_container{
    grid-column: 1;
}

div#inputs_dimensions_container{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#insert_length_court_container {
    display: flex;
    flex-direction: column;
}

div#insert_width_court_container {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 7px;
    margin-bottom: 7px;
}

input {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 60%;
    align-self: center;
}

div#input_name_registration {
    display: flex;
    justify-content: center;
    align-items: center;
}

button#btn_save_registration, #btn_back_to_home {
    margin: 30px;
}

div#btns_bottom_container{
    display:flex;
    justify-content: center;
}

div#modal_message_confirm_error {
    margin: 10px;
}

i.bi-pencil-square {
    font-size: 25px;
    color: #52667d;
    padding: 0;
}

@media (max-width: 1579px){
    div#teams_container{
        margin-bottom: 10px;
    }
    div#players_container{
        margin-top: 10px;
    }
}

@media (max-width: 1200px) {
    div#metadata-container {
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 100%;
    }

    div#section1_container {
        text-align: center;
    }

    div#section2_container{
        margin: 10px 0 0 0;
    }

    div#teams_container{
        margin-bottom: 10px;
        width: 90%;
        margin-right: 0;
    }

    app-teams-list{
        display: flex;
        justify-content: center;
    }

    app-players-list{
        display: flex;
        justify-content: center;
    }

    div#players_container{
        margin-top: 10px;
        margin-left: 0;
        width: 90%;
    }

    div#insert_length_court_container, #insert_width_court_container {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 600px) {
    div#start_registration_container {
        display: flex;
        flex-direction: column;
    }

    div#metadata-container{
        width: 100%;
    }

    div#section1_container {
        margin: 20px;
        text-align: center;
    }

    lable#label_input_name_registration, label#label_select_type_registration, input#input_name_registration {
        width: 100%;
        align-self: center;
    }

    div#insert_dimension_court_container {
        display: flex;
        flex-direction: column;
    }

    div#btns_bottom_container{
        flex-direction: column;
    }
}