<div id="metadata-container">
    <div id="section1_container">
        <div id="forms_container">
            <form [formGroup]="registrationForm" id="form_metadata_registration">
                <label id="label_input_name_registration" for="input_name_registration">Inserisci un nome identificativo
                    alla registrazione:</label>
                <input
                        type="text"
                        placeholder="Nome Registrazione"
                        class="form-control text-center"
                        id="input_name_registration"
                        formControlName="name"
                        required
                        [ngModel]="name_registration"/>
                <label id="label_inputs_dimensions" for="insert_dimension_court_container">Inserisci le dimensioni effettive
                    del campo di gioco in cui si vuole effetuare la registrazione:</label>
                <div id="insert_dimension_court_container">
                    <div id="court_img_container">
                        <img src="/assets/images/campodibasketdimensioni.drawio%20(1).png"
                             id="img_court_dimensions"
                             alt="Dimensioni del campo di basket">
                    </div>
                    <div id="inputs_dimensions_container">
                        <div id="insert_length_court_container">
                            <label id="label_input_length_court" for="input_length_court">LATO CORTO (cm):</label>
                            <input
                                    type="number"
                                    placeholder="Lunghezza lato corto"
                                    class="form-control text-center"
                                    id="input_length_court"
                                    formControlName="length_court"
                                    required
                                    [ngModel]="length_court"/>
                        </div>
                        <div id="insert_width_court_container">
                            <label id="label_input_width_court" for="input_width_court">LATO LUNGO (cm):</label>
                            <input
                                    type="number"
                                    placeholder="Lunghezza lato lungo"
                                    class="form-control text-center"
                                    id="input_width_court"
                                    formControlName="width_court"
                                    required
                                    [ngModel]="width_court"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="section2_container">
        <div id="teams_container">
            <app-teams-list [teams]="teams"
                            (deleteTeamEvent)="deleteTeam($event)"
                            (updateTeamEvent)="updateTeam($event)"
                            (addTeamEvent)="addTeam($event)">
            </app-teams-list>
        </div>
        <div id="players_container">
            <app-players-list (deletePlayerEvent)="deletePlayer($event)"
                              (updatePlayerEvent)="updatePlayer($event)"
                              (addPlayerEvent)="addPlayer($event)"
                              [players]="players"
                              [teams]="teams">
            </app-players-list>
        </div>
    </div>
    <div id="btns_bottom_container">
        <button id="btn_back_to_home" class="btn btn-primary" [routerLink]="'/home'"><i
                class="bi bi-arrow-left-circle"></i>Torna alla Home
        </button>
        <button id="btn_save_registration" type="button" class="btn btn-primary"
                (click)="submit()">{{buttonSubmitString}}
        </button>
    </div>
</div>
